<div>
  <div>
    <h1>
      Your Likes
    </h1>


    <div>
      <a href="/">
        Go home
      </a>
    </div>



    <dl>
      <% @the_like.each do |nice| %>

        <dt>
          <%= nice.user.username %>
        </dt>
        <dd>
          <%= nice.story.body %>
        </dd>
        <dd>
          <a href = "/stories/<%= nice.story.id %>">
            Show story
          </a>
        </dd>
        <dd>
          <a href="/delete_like/<%= nice.id %>">
            Un-like
          </a>
        </dd>


      <% end %>
    </dl>
  </div>
</div>

<hr>
