<h1>Account Details</h1>

<hr>

<h3>Hey <%= @current_user.username %>, what do you want to do?</h3>

<div>
  <a href = "/sign_out">Sign Out</a>
</div>
<div>
  <a href = "/edit_user">Edit Profile</a>
</div>
<div>
  <a href = "/cancel_user">Delete Profile</a>
</div>
