<div class = "my-4 d-flex justify-content-center">
  <p class="font-weight-light" style = "font-size: 37px;">Account Details</p>

</div>


<hr>

<p class="font-weight-light" style = "font-size: 30px;">
  Hey <%= @current_user.username %>, what do you want to do?
</p>

<div>
  <a href = "/sign_out">Sign Out</a>
</div>
<div>
  <a href = "/edit_user">Edit Profile</a>
</div>
<div>
  <a href = "/cancel_user">Delete Profile</a>
</div>
